@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Handlee&display=swap');

/* -------- MAIN STYLES, FONTS, COLOURS -------- */ 

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

:root {
    --main-font: "Barlow", sans-serif;
    --white: #FFFFFF;
    --background-color: #FAFAFA;
    --grey-text: #7D7F82;
    --light-grey: #E5E5E5;
    --lightdark-grey: #E8E8E8;
    --subtitle-black: #2E2F31;
    --orange: #F89223;
    --dark-orange: #BD6406;
    --dark-green: #1E7344;
    --beige: #F4F3F0;
    --dark-beige: #EDEDEB;
    --footer: #28292B;
    --footer-text: #B5B7BA;
    --yellow-box-background: #FFFEE1;
    --yellow-box-border: #E7D95D;
}

.mx1200 {
    max-width: 1200px;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Barlow", sans-serif;    
}

p,
.text-link {
    color: var(--grey-text);
    font-family: var(--main-font);    
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: var(--grey-text);
    font-family: var(--main-font);  
    text-decoration: underline;
}

.subtitle {
    color: var(--subtitle-black);
}

.subtitle-bold {
    color: var(--subtitle-black);
    font-weight: 600;
}

.small-image {
    width: 50%;
}

/* ------- BUTTONS ------- */

.button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark-green);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-right: 8px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;    
}

.green-button {
    border-color: var(--dark-green);
}

.green-button-thick {
    border: 3px solid var(--dark-green);
    font-weight: 500;
}

.green-button-filled {
    background-color: var(--dark-green);
    color: var(--white);
}

.green-button:hover,
.green-button-thick:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
    color: var(--background-color);
}

.orange-button {
    font-size: 15px;
    color: var(--white);
    font-weight: 600;
    background-color: var(--orange);
    border-radius: 4px;
    padding: 15px 26px 15px 26px;
}

.orange-button:hover {
    background-color: var(--dark-orange);
    color: var(--white);
}

/* -------- BASE.HTML -------- */ 

.banner {
    height: 300px;
    background-color: rgb(114, 114, 114);
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
}

.main-logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    -ms-transform: translateY(-50%); 
}

.recipe-text {
    font-size: 16px;
    color: var(--grey-text);
}

/* -------- NAVIGATION -------- */ 

.food-categories-container {
    width: 100%;   
    background-image: url(../images/food_patterns.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 50px;
}

.choose-category {
    color: var(--orange);
    font-family: "Handlee", Sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.recipe-categories-title {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin-top: 25px;
}

.recipe-categories-title-smaller {
    font-size: 36px;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin-top: 25px;
}

.recipe-categories-subtitle {
    color: var(--grey-text);
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 300;
}

.nav-category {
    font-size: 18px;
    color: var(--subtitle-black);
    font-weight: 600;
}

.food-categories {
    display: inline-block;
    margin: 10px;
    max-width: 180px;
}

.food-categories-img {
    width: 80%;    
    border-radius: 50%;
    transition-duration: .3s;     
    margin-top: 25px;
    margin-bottom: 25px; 
}

.food-categories-img:hover {
    transform: rotate(4deg);
    opacity: 0.75;
}

.dropdown {
    margin-top: 25px;
}

.cooking-level-dropdown {
    border: 3px solid var(--dark-green);
}

.dropdown-menu.show {
    background: var(--background-color);
}

.navbar {
    background: repeating-linear-gradient(
        135deg,
        var(--background-color),
        var(--background-color) 10px,
        #f5f5f5 10px,
        #f5f5f5 20px) !important;
}

/* -------- ALL RECIPES -------- */ 

.get-recipe-section {
    margin-top: 80px;
}

/* ------- RECIPE CARD ------- */

.card-img-top {
    height: 260px;
    object-fit: cover;
}

.recipe-card {
    font-family: "Barlow", sans-serif;
    border: 1px solid #ebebeb;
    width: 30.333%;
    min-width: 350px;
    text-align: left;   
    margin: 0 1.5% 3%;
    padding: 0;
    border-radius: 5px; 
    box-shadow: 0px 0px 15px rgb(41 48 55 / 10%);
    position: relative;
    transition: 0.3s ease-in-out;
}

.recipe-card:hover {
    box-shadow: 0px 0px 15px rgb(41 48 55 / 40%);
}

.card-title {    
    font-size: 22px;
    font-weight: 600;
    color: var(--subtitle-black);   
    text-decoration: none;   
    padding: 35px;  
    margin-top: 45px;
    margin-bottom: 0;    
    transition: 0.3s ease-in-out;
}

.card-title:hover {
    color: var(--orange);
}

.card-description {
    font-size: 15px;
    color: var(--grey-text);
    padding: 35px;       
}

.card-content2 {
    margin-top: 25px;
    height: 300px; 
}

.edit-delete-button {
    position: absolute;
    bottom: 75px;
    padding-left: 35px;
}

.card-bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;    
    padding: 0px;
    margin: 0px;
    font-size: 13px;
    color: var(--grey-text);
    border-top: 1px solid #e5e5e5;        
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.card-bottom i {
    margin-right: 4px;
    color: rgb(20, 138, 20);
}

.recipe-index-category,
.recipe-index-duration {
    padding: 15px 15px 22px 15px;    
}

.recipe-index-category {
    float: left;
    width: 50%;
    border-right: 1px solid #e5e5e5;    
}

.recipe-index-duration {
    float: right;
    width: 50%;
}

.card-author {
    position: absolute;
    bottom: 80px;
    padding-left: 35px;
    font-size: 15px;
    color: var(--grey-text); 
    font-size: 14px; 
}

.card-author-name {
    color: #565758; 
    font-weight: 600;
}

.card-profile-picture {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.card-profile-picture-md {
    width: 45px;
    height: 45px;
    object-fit: cover;
    margin-right: 15px;
}

.card-profile-picture-lg {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
}

/* ------- UPLOAD RECIPE PAGE ------- */

.upload-recipe-container {
    background: #f5f5f5;
    margin: 0 auto;
    border-radius: 15px;
}

/* ------- FULL RECIPE PAGE ------- */

.recipe-title {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.2px;
    margin-top: 25px;
}

.checkbox {
    list-style-type: square;
}

/* Information on CSS counters: https://blog.logrocket.com/styling-numbered-lists-with-css-counters/ */

.numbered-list {      
    counter-reset: list-number 0;
    color: var(--grey-text);
}

.numbered-list div:before {
    counter-increment: list-number;
    content: counter(list-number);    
    margin-right: 8px;
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: var(--white);
    border: 1px solid var(--grey-text);    
    border-radius: 50%;
}

.numbered-list-step {
    margin-bottom: 15px;
}

.page-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-container {
    margin: 0 auto;
    max-width: 800px;    
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;    
    justify-content: center; 
}

.full-recipe-header {
    background: var(--beige);
    border-radius: 6px;    
    margin-bottom: 30px;
    font-size: 17px;
    padding: 20px;    
}

.fa-heart {
    color: var(--subtitle-black);
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: var(--white);
    box-shadow: 2px 2px 6px rgb(0 0 0 / 20%);
}

.fav-heart {
    text-align: right;
}

.vertical-align {
    float: right;
    vertical-align: middle;
}

.full-recipe-header-dc-1 {  
    margin-left: 40px;      
    display: inline-block;  
}

.full-recipe-header-dc {     
    color: var(--subtitle-black);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.full-recipe-header-dc-content {
    font-size: 16px;
    color: var(--grey-text);    
}

.full-recipe-description {
    font-size: 18px;
    color: var(--grey-text);
    border-left: 2px solid var(--orange);
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: left;
}

.full-recipe-img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.fa-utensils {
    color: var(--grey-text);
    margin-right: 10px;
}

.recipe-ingredients,
.recipe-methods {
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 25px;
}

.comment-container {
    position: relative;
    background: var(--dark-beige);
    border-radius: 6px;
    padding: 8px 30px 8px 30px;  
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 17px;
    -webkit-box-shadow: 6px 5px 12px -5px rgba(46,47,49,0.68); 
    box-shadow: 6px 5px 12px -5px rgba(46,47,49,0.68);
    border-radius: 10px;
    display: inline-block;
}

/* Was created with the help of this Speech Bubble Generator:
https://www.html-code-generator.com/css/speech-bubble-generator */

.comment-container:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent var(--dark-beige);
    border-width: 11px 12px 11px 0;
    top: 35%;
    left: -12px;
    margin-top: -11px;   
}

.comment-container strong {
    font-weight: 600;
}

.comment-button {
    text-align: right;
}

.yellow-box {
    background: var(--yellow-box-background);
    border: 1px solid var(--yellow-box-border);
    padding: 15px 20px 15px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.yellow-box p {
    margin-bottom: 0;
    font-size: 15px;
}

.yellow-box-link {
    color: var(--orange);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.yellow-box-link:hover {
    text-decoration: underline;
    color: var(--dark-orange);
}

/* -------- PAGINATION -------- */ 

.page-item .page-link {
    color: rgba(0,0,0, 0.6);
    display: block;
    margin: 0px 2px 2px 2px;
    text-align: center;
    font-size: 14px;
    padding: 12px 19px 12px 19px;
    border-radius: 3px;
    font-weight: 600;
    background-color: var(--lightdark-grey);
    border: none;
}

.page-item.active .page-link,
.page-item .page-link:hover {
    color: var(--white);
    background-color: var(--orange);
}

.page-item.disabled .page-link {
    display: none;
}

.pagination-page-info {
    color: var(--grey-text);
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

.pagination-page-info b {
    background-color: transparent;
    color: var(--subtitle-black);
    font-size: 150%; 
}

ul.pagination {
    justify-content: center;
}

/* ------- KITCHEN PRODUCTS ------- */

.kitchen-products-container {
    width: 100%;   
    background-image: url(../images/food_patterns_dark.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 40px;
    padding-bottom: 50px;
}

.kitchen-products-title {
    color: var(--light-grey);
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin-top: 25px;
}

.kitchen-products-img-container::after {
    content: "";
    clear: both;
    display: table;
}

.kitchen-product {
    float: left;
    width: 20%;
    padding: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.kitchen-product img {
    width: 100%;
    transition: 0.2s all ease-in-out;
}

.kitchen-product:hover img {
    transform: scale(1.1);
}

/* ------- FOOTER ------- */

.footer-container {
    background-color: var(--footer);
    padding: 15px;
    height: 65px;
}

.footer-container p {
    color: var(--footer-text);
    margin-bottom: 0;
    padding-top: 5px;
}

.social-networks li {
    display: inline;  
}

.social-networks i {  
    color: var(--footer-text);
    transition: all 0.3s ease; 
    -webkit-transition: all 0.3s ease;  
    -moz-transition: all 0.3s ease;
    padding: 10px;
}

.social-networks i:hover {
    color: var(--dark-green);
}

/* ------- MEDIA QUERIES ------- */

@media screen and (max-width: 850px) {
    .upload-recipe-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .comment-container {
        max-width: calc(100% - 100px);
    }
}

@media screen and (max-width: 576px) {
    .banner {
        height: 200px;
        background-size: cover;
    }

    .food-categories {        
        max-width: 130px;
    }

    .full-recipe-header div {
        display: block;
    }

    .full-recipe-header-dc-1:last-child {
        margin-top: 20px;
    }

    .mobile-resize {
        max-width: calc(100% - 120px);
    }

    .recipe-categories-title,
    .kitchen-products-title {
        font-size: 40px;
    }

    .social-networks i {
        padding: 4px;
    }

    .footer-container p {
        font-size: 13px;
    }