{% extends "base.html" %}
{% block content %}

    <div class="text-center">
        <h4>{{ recipe.recipe_name }}</h4>
        <img src="{{ recipe.recipe_picture }}" alt="Photo of the final dish"><br>
        {{ recipe.description }} <br>
        Level: {{ recipe.level }} <br>
        {{ recipe.servings }} servings <br>
        <h4>Ingredients:</h4>
        {% for x in recipe.ingredients %}
            <ul><li>{{ x }}</li></ul>    
        {% endfor %}
        <h4>Method:</h4>
        {% for step in recipe.recipe_method %}
            <ul><li>{{ step }}</li></ul> 
        {% endfor %}
    </div>
        
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
    </div>

{% endblock %}