<section class="container-xl mx1200 footer-container clearfix">
    <div class="float-start">
        <p>Epic Food by Marton Kerek, 2021</p>
    </div>
    <div class="float-end">
        <ul class="social-networks">
            <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>             
            <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        </ul>
    </div>
</section>