{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}

<section class="get-recipe-section">
    <div class="page-title text-center">
        <h4 class="choose-category">Browse our Receipes</h4>
        <h2 class="recipe-categories-title">
            {% if category %}
                {% if difficulty %}
                    {{ category }}
                    <p class="recipe-categories-subtitle">{{ difficulty }} level</p>
                {% else %}
                    {{ category }}
                {% endif %}
            {% else %}
                    All Recipes
            {% endif %}               
        </h2>
    </div>

    <section class="container-xl recipe-container mx1200">
        {% for recipe in recipes %}
        <article class="card recipe-card">
            <div>            
                <a href="{{ url_for('recipe', recipe_id=recipe._id )}}"><img src="{{ recipe.recipe_picture }}"
                    class="card-img-top" alt="Open Full Recipe"></a>
            </div>
            <div class="card-content2">           
                <a class="card-title" href="{{ url_for('recipe', recipe_id=recipe._id )}}">{{ recipe.recipe_name }} </a>         
                <p class="card-description">{{ recipe.description }}</p>       
                <div class="card-author">                
                    {% for user in users %}
                        {% if user.username == recipe.uploaded_by %}
                            <img src="{{ user.profile_picture }}" alt="User Profile Picture" class="card-profile-picture rounded-circle">
                            By <span class="card-author-name">{{ user.name }}</span>                        
                        {% endif %}
                    {% endfor %}
                </div>     
                <div class="card-bottom">
                    <div class="recipe-index-category">
                        <i class="far fa-folder-open"></i>
                        {{ recipe.recipe_cagetory }}</div>
                    <div class="recipe-index-duration">
                        <i class="far fa-clock"></i>
                        {{ recipe.cooktime }} min</div>
                </div>            
            </div>
        </article>
        {% endfor %}
    </section>
</section>

    {% if recipes|length >= 1 %}
    <div>
        {{ pagination.links }} 
    </div>
    <div>
        {{ pagination.info }}
    </div>
    {% endif %}

{% endblock %}