{% extends "base.html" %}
{% block content %}

    <section class="container-xl mx1200 food-categories-container text-center">
        <div class="food-categories">
            <img src="../static/images/appetizer.jpg" alt="" class="food-categories-img">
            <h4>Appetizers</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/soup.jpg" alt="" class="food-categories-img">
            <h4>Soup</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/main_course.jpg" alt="" class="food-categories-img">
            <h4>Main Course</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/vegetarian.jpeg" alt="" class="food-categories-img">
            <h4>Vegetarian</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/dessert.jpeg" alt="" class="food-categories-img">
            <h4>Desserts</h4>
        </div>
    </section>
    
    <section class="recipe-container text-center">
        <h2>All Recipes</h2>
        {% for recipe in recipes %}
        <div class="card recipe-card" style="width: 18rem;">
            <img src="{{ recipe.recipe_picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{{ url_for('recipe', recipe_id=recipe._id )}}" class="btn btn-primary">Open Recipe</a>
            </div>
        </div>    
        {% endfor %}   
    </section>
    <!--
    {{ pagination.info }}
    {{ pagination.links }}
        <table>            
            <tbody>
                {% for recipe in recipes %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>                
            </tr>
                {% endfor %}
            </tbody>
        </table>
    {{ pagination.links }}
    

    <div class="container">      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ loop.index + (page - 1) * per_page }}</td>
              <td>{{ user }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {{ pagination.links }}
    </div>
    -->

    {% if recipes|length >= 1 %}
        {{ pagination.links }}
        {{ pagination.info }}
    {% endif %}

{% endblock %}