{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}

<div class="page-title text-center">
    <h2>All Recipes</h2>
</div>


<div class="text-center">
    {% if category %}
        {% if level %}
        <h5><b>Category:</b> {{ category }}, <b>Level: </b>{{ level }}</h5>
        {% else %}
        <h5><b>Category:</b> {{ category }}</h5>
        {% endif %}
    {% endif %}
</div>

<section class="container-xl recipe-container mx1200">
    {% for recipe in recipes %}
    <article class="card recipe-card">
        <div>            
            <a href="{{ url_for('recipe', recipe_id=recipe._id )}}"><img src="{{ recipe.recipe_picture }}"
                class="card-img-top" alt="Open Full Recipe"></a>
        </div>
        <div class="card-content2">
            <a class="card-title" href="{{ url_for('recipe', recipe_id=recipe._id )}}">{{ recipe.recipe_name }} </a>
            <p class="card-description">{{ recipe.description }}</p>            
            <div class="card-bottom">
                <div class="recipe-index-category">
                    <i class="far fa-folder-open"></i>
                    {{ recipe.recipe_cagetory }}</div>
                <div class="recipe-index-duration">
                    <i class="far fa-clock"></i>
                    {{ recipe.cooktime }} min</div>
            </div>            
        </div>
    </article>
    {% endfor %}
</section>

<div class="pagination justify-content-center">
    {% if recipes|length >= 1 %}
    <ul>
        <li>{{ pagination.links }} </li>
        <li>{{ pagination.info }}</li>
    </ul>
    {% endif %}
</div>





{% endblock %}