{% extends "base.html" %}
{% block content %}

    <section class="container-lg food-categories-container text-center">
        <div class="food-categories">
            <img src="../static/images/appetizer.jpg" alt="" class="food-categories-img">
            <h4>Appetizers</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/soup.jpg" alt="" class="food-categories-img">
            <h4>Soup</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/main_course.jpg" alt="" class="food-categories-img">
            <h4>Main Course</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/vegetarian.jpeg" alt="" class="food-categories-img">
            <h4>Vegetarian</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/dessert.jpeg" alt="" class="food-categories-img">
            <h4>Desserts</h4>
        </div>
    </section>
    
    <section class="recipe-container text-center">
        <h2>Latest Recipes</h2>
        {% for recipe in recipes %}
        <div class="card recipe-card" style="width: 18rem;">
            <img src="{{ recipe.recipe_picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{{ url_for('recipe', recipe_id=recipe._id )}}" class="btn btn-primary">Open Recipe</a>
            </div>
        </div>    
        {% endfor %}   
    </section>

{% endblock %}