<section class="container-xl mx1200 kitchen-products-container text-center mt-5">
    <h4 class="choose-category">Get one of these high-end equipments, and...</h4>
    <h2 class="kitchen-products-title">Become a Pro at Home!</h2>
    <div class="kitchen-products-img-container">
        <div class="kitchen-product">
            <img src="{{ url_for('static', filename='images/kitchen_combi_steamer.jpg')}}" alt="Kitchen Combi Steamer">
        </div>
        <div class="kitchen-product">
            <img src="{{ url_for('static', filename='images/kitchen_pizza_oven.jpg')}}" alt="Pizza Oven">
        </div>
        <div class="kitchen-product">
            <img src="{{ url_for('static', filename='images/kitchen_knife_set.jpg')}}" alt="Professional Knife Set">
        </div>
        <div class="kitchen-product">
            <img src="{{ url_for('static', filename='images/kitchen_planetary_mixer.jpg')}}" alt="Planetary Mixer">
        </div>
        <div class="kitchen-product">
            <img src="{{ url_for('static', filename='images/kitchen_rotisserie.jpg')}}" alt="Kitchen Rotisserie">
        </div>
    </div>
</section>