<section class="container-xl mx1200 kitchen-products-container text-center mt-5">
    <h4 class="choose-category">Get one of these high-end equipments, and...</h4>
    <h2 class="kitchen-products-title">Become a Pro at Home!</h2>
    <div class="kitchen-products-img-container mt-5">
        <div class="kitchen-product">
            <a href="https://adexa.co.uk/Commercial-Electric-Convection-Oven-with-Steam-4-trays-325x450mm-Adexa-YSD2A?language=en&currency=GBP&gclid=CjwKCAjw87SHBhBiEiwAukSeUc9WHjyUbr4TWXTm8wT1Y7eSDdqIPfdtOL05zCZpEad5hR74x1j4oBoCi_QQAvD_BwE" target="_blank">
                <img src="{{ url_for('static', filename='images/kitchen_combi_steamer.jpg')}}" alt="Kitchen Combi Steamer">
            </a>
        </div>
        <div class="kitchen-product">
            <a href="https://uk.ooni.com/products/ooni-koda-16?gclid=CjwKCAjw87SHBhBiEiwAukSeUfa4x3uKJh6EMG1O4zH82DPg8rkIfHbQLiXQI--BymVryKmF-femaxoCnKAQAvD_BwE" target="_blank">
                <img src="{{ url_for('static', filename='images/kitchen_pizza_oven.jpg')}}" alt="Pizza Oven">
            </a>
        </div>
        <div class="kitchen-product">
            <a href="https://santokuknives.co.uk/collections/frontpage/products/riku-damascus-vg10-knife" target="_blank">
                <img src="{{ url_for('static', filename='images/kitchen_knife_set.jpg')}}" alt="Professional Knife Set">
            </a>
        </div>
        <div class="kitchen-product">
            <a href="https://adexa.co.uk/Professional-Countertop-Planetary-mixer-10-litres-1-5kW-Stainless-steel-Adexa-SM2088G" target="_blank">
                <img src="{{ url_for('static', filename='images/kitchen_planetary_mixer.jpg')}}" alt="Planetary Mixer">
            </a>
        </div>
        <div class="kitchen-product">
            <a href="https://adexa.co.uk/12-Litre-Air-Fryer-Oven-with-Rotisserie-and-Dehydrator-Setting-Countertop-1-8kW-Adexa-BF929A?language=en&currency=GBP&gclid=CjwKCAjw87SHBhBiEiwAukSeUXgn7Lrjkw9d4cvx68Z7hT1D1Xs0CoSG5B92jQIhx3vxqLOl6ZGSvhoCJZgQAvD_BwE" target="_blank">
                <img src="{{ url_for('static', filename='images/kitchen_rotisserie.jpg')}}" alt="Kitchen Rotisserie">
            </a>
        </div>
    </div>
</section>