{% extends "base.html" %}
{% block content %}

{% include "navbar.html" %}   

<section class="upload-recipe-container mx1200">
    <div class="text-center mt-3 pt-3 mb-5">
        <h4 class="choose-category mt-4">Glad to see you back :-)</h4>
        <h2 class="recipe-categories-title-smaller">Log In</h2>
    </div>         

    <section class="form-container">

    <section class="form-container text-center mb-4 pb-4">
        <form method="POST" action="{{ url_for('login') }}">            
            <div class="mb-3">
                <input type="text" name="username" class="form-control" id="username" aria-describedby="enterUserName" placeholder="username" required>                
            </div>            
            <div class="mb-3">
                <input type="password" name="password" class="form-control" id="password" placeholder="**********" required>
            </div>               
            <button type="submit" class="button green-button-thick">Login</button>
        </form>
    </section>
</section>     

{% endblock %}