{% extends "base.html" %}
{% block content %}

    <section class="container-xl mx1200 food-categories-container text-center">
        <div class="food-categories">
            <img src="../static/images/appetizer.jpg" alt="" class="food-categories-img">
            <h4>Appetizers</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/soup.jpg" alt="" class="food-categories-img">
            <h4>Soup</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/main_course.jpg" alt="" class="food-categories-img">
            <h4>Main Course</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/vegetarian.jpeg" alt="" class="food-categories-img">
            <h4>Vegetarian</h4>
        </div>
        <div class="food-categories text-center">
            <img src="../static/images/dessert.jpeg" alt="" class="food-categories-img">
            <h4>Desserts</h4>
        </div>
    </section>

    <div class="page-title text-center">
        <h2>My Recipes</h2>
    </div>

    <section class="container-xl recipe-container mx1200 text-center">        
        {% for recipe in recipes %}
        <article class="card recipe-card" style="width: 18rem;">
            <a href="{{ url_for('recipe', recipe_id=recipe._id )}}"><img src="{{ recipe.recipe_picture }}" class="card-img-top" alt="Open Full Recipe"></a>
            <div class="card-body">
                <a class="card-title" href="{{ url_for('recipe', recipe_id=recipe._id )}}">{{ recipe.recipe_name }} </a>
                <p class="card-text">{{ recipe.description }}</p>                
                <div class="card-bottom">
                    <div class="recipe-index-category">{{ recipe.recipe_cagetory }}</div>
                    <div class="recipe-index-duration">{{ recipe.cooktime }} min</div>
                </div>   
                <div style="padding-bottom: 50px;">
                {% if session.user|lower == recipe.uploaded_by|lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}" class="btn btn-warning">Edit Recipe</a>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>                    
                {% endif %}  
                </div>           
            </div>
        </article>    
        {% endfor %}   
    </section>      

{% endblock %}