{% extends "base.html" %}
{% block content %}

{% include "navbar.html" %}
{% include "navigation.html" %}   


    <div class="page-title text-center" id="my-recipe-section">
        <h4 class="choose-category">Uploaded by me...</h4>
        <h2 class="recipe-categories-title">My Recipes</h2>
        <p class="recipe-categories-subtitle">Submitted By {{ user.name }}</p>
    </div>

    <section class="container-xl recipe-container mx1200">
    {% for recipe in recipes %}
        <article class="card recipe-card">
            <div>            
                <a href="{{ url_for('recipe', recipe_id=recipe._id )}}#recipe-section"><img src="{{ recipe.recipe_picture }}"
                    class="card-img-top" alt="Open Full Recipe"></a>
            </div>
            <div class="card-content2">                
                <div>                
                    <a class="card-title" href="{{ url_for('recipe', recipe_id=recipe._id )}}#recipe-section">{{ recipe.recipe_name }} </a>
                    <p class="card-description">{{ recipe.description }}</p>    
                </div> 
                <div class="edit-delete-button">
                    {% if session.user|lower == recipe.uploaded_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id )}}#edit-recipe-section" class="button green-button">Edit Recipe</a>
                        <a href="#" class="btn red-button" data-bs-toggle="modal" data-bs-target="#confirmDelete{{ recipe._id }}">Delete Recipe</a>
                    {% endif %} 
                </div>             
                <div class="card-bottom">
                    <div class="recipe-index-category">
                        <i class="far fa-folder-open"></i>
                        {{ recipe.recipe_cagetory }}</div>
                    <div class="recipe-index-duration">
                        <i class="far fa-clock"></i>
                        {{ recipe.cooktime }} min</div>
                </div>            
            </div>
        </article>


        <!-- Modal -->
        <div class="modal fade" id="confirmDelete{{ recipe._id }}" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="confirmDeleteLabel">Confirm Deletion</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you wish to delete this recipe?</p>
                </div>            
                <div class="modal-footer">                
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id )}}" class="btn btn-danger">Delete Recipe</a>
                    <button type="button" class="button green-button" data-bs-dismiss="modal">Close</button>                
                </div>
                </div>
            </div>
        </div>

    {% endfor %}
    </section>

    <div class="text-center">
        <a href="{{ url_for('get_recipes') }}" class="button orange-button mb-5">View All Recipes</a>
    </div>

{% endblock %}



 