<section class="container-xl mx1200 text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <form action="{{ url_for('search') }}#get-recipe-section" method="POST" class="d-flex mobile-resize">
                <input class="form-control me-2" type="search" name="query" id="query" placeholder="Search"
                    aria-label="Search" required>
                <button class="button green-button green-button-filled" type="submit">Search</button>
            </form>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('get_recipes') }}">Home</a></li>
                    {% if session.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('upload_recipe') }}#upload-recipe-section">Add Recipe</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('my_recipes') }}#my-recipe-section">My Recipes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('favorite_recipes') }}#favorite-section">Favourites</a>
                    </li>
                    <li class="nav-item"><a class="nav-link"
                            href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('statistics') }}#statistics-section">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                    <li class="nav-item"><a class="button green-button green-button-filled mx-2" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</section>