<section class="container-xl mx1200 text-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <form action="{{ url_for('search') }}" method="POST" class="d-flex">
                <input class="form-control me-2" type="search" name="query" id="query" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                <a href="{{ url_for('home') }}" class="btn btn-outline-success" type="submit">Reset</a>
            </form>
            <!-- 
                <div>
                    Easy / Medium / Complex
                </div>
                
                <div class="px-5">
                    {% if session.user %}
                        Welcome {{ session.name }}
                    {% endif %}                
                </div>
                -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    {% if session.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('upload_recipe') }}">Upload Recipe</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('my_recipes') }}">My Recipes</a></li>
                    <li class="nav-item"><a class="nav-link"
                            href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</section>

<section class="container-xl mx1200 food-categories-container text-center">
    <div class="food-categories">
        <img src="../static/images/appetizer.jpg" alt="" class="food-categories-img">
        <h4>Appetizers</h4>
    </div>
    <div class="food-categories text-center">
        <img src="../static/images/soup.jpg" alt="" class="food-categories-img">
        <h4>Soup</h4>
    </div>
    <div class="food-categories text-center">
        <img src="../static/images/main_course.jpg" alt="" class="food-categories-img">
        <h4>Main Course</h4>
    </div>
    <div class="food-categories text-center">
        <img src="../static/images/vegetarian.jpeg" alt="" class="food-categories-img">
        <h4>Vegetarian</h4>
    </div>
    <div class="food-categories text-center">
        <img src="../static/images/dessert.jpeg" alt="" class="food-categories-img">
        <h4>Desserts</h4>
    </div>

    <div class="text-center">
        <label for="cars">Select your level:</label>
        <select name="difficulty" id="difficulty">
            <option value="all-level">All level</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="complex">Complex</option>  
        </select>
    </div>
</section>

<!--
<section class="text-center">
    <form action="{{ url_for('search') }}" method="POST">
        <input type="radio" id="easy" name="easy" value="easy">
        <label for="easy">Easy</label><br>
        <input type="radio" id="medium" name="medium" value="medium">
        <label for="medium">Medium</label><br>
        <input type="radio" id="complex" name="complex" value="complex">
        <label for="complex">Complex</label>
    </form>
</section>
-->