{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}

    <div class="text-center">
        <h2>Welcome!</h2>
        <h4>Your usename is: {{ username }}</h4>
        <h4>Your name is: {{ name }}</h4>
        <h4>Your profile image is: </h4>
        <img src="{{ profile_picture }}" alt="Profile picture">         
    </div>
    <div class="text-center">
             
    <form action="{{ url_for('upload_profile_image') }}" method="POST" enctype="multipart/form-data">
        <label for="ppicture">
            <i class="fas fa-upload"></i>Upload Image</label>
        </label>
        <input id="ppicture" name="file" type="file">
        <input type="submit" value="Upload">
    </form>

{% endblock %}