{% extends "base.html" %}
{% block content %}

    <section class="container-xl" style="max-width: 800px;">
        <h4 class="pt-4 pb-4 text-center">{{ recipe.recipe_name }}</h4>
        <div class="full-recipe-header">
            <div class="left">
                Author: {{ recipe.uploaded_by}}
            </div>
            <div class="right">
                <div class="full-recipe-header-dc-1">
                    <span class="full-recipe-header-dc">Difficulty:</span><span class="full-recipe-header-dc-content">{{ recipe.level }} </span>
                </div>
                <div class="full-recipe-header-dc-1">
                    <span class="full-recipe-header-dc">Category: </span><span class="full-recipe-header-dc-content">{{ recipe.recipe_cagetory }}</span>
                </div>
            </div>
        </div>
        <section class="full-recipe-description">
            {{ recipe.description }} 
        </section>
        <img src="{{ recipe.recipe_picture }}" alt="Photo of the final dish" class="img-fluid"><br>
        
        <div class="full-recipe-header mt-5">
            <div class="left">
                Yields: {{ recipe.servings }} Servings
            </div>
            <div class="right">
                <span class="full-recipe-header-dc">Preparation Time: <br>{{ recipe.preptime }} mins </span>
                <span class="full-recipe-header-dc">Cooking Time: <br> {{ recipe.cooktime }} mins</span>
            </div>
        </div>
        
        <h4 class="pb-4">Main Ingredients:</h4>
        {% for x in recipe.ingredients %}
            <ul><li class="recipe-text checkbox">{{ x }}</li></ul>    
        {% endfor %}

        <h4 class="pt-4 pb-4">Method:</h4>
        <div class="numbered-list">
            {% for step in recipe.recipe_method %}
                <div class="numbered-list-step">{{ step }}</div>
            {% endfor %}
        </div>

        <div class="review">
            <h4>Comments:</h4>
            {% for comment in comments %}
                Name: {{ comment.username }}
                Date: {{ comment.date }}
                Comment: {{ comment.comment }}
            {% endfor %}
        </div>

    </section>

    
        
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
    </div>

{% endblock %}