{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}   

    <section class="container-xl" style="max-width: 800px;">
        <div>
            <div><h2 class="pt-4 pb-4 text-center recipe-title">{{ recipe.recipe_name }}</h2></div>
            <div class="fav-heart">
            {% if session.user %}
                {% if session.user in recipe.favorited_by %}
                    <a href="{{ url_for('remove_favorite', recipe_id=recipe._id ) }}" class="text-link">Remove Favourite<i class="fas fa-heart fa-2x" 
                        style="color: #F89223;"></i></a>
                {% else %}
                    <a href="{{ url_for('add_favorite', recipe_id=recipe._id ) }}" class="text-link">Add Favourite<i class="far fa-heart fa-2x"
                        style="color: #F89223;"></i></a>
                {% endif %}
            {% else %}
                    <p>Log In/Register to Favourite<i class="fas fa-heart fa-2x"></i></p>
            {% endif %}
            </div>
        </div>
        <div class="full-recipe-header clearfix">
            {% for user in users %}
                {% if user.username|lower == recipe.uploaded_by %}
                <div>
                    <div class="float-start">
                        <img src="{{ user.profile_picture }}" alt="Author's profile picture" class="card-profile-picture-md rounded-circle">
                    </div>
                    <div class="float-start">
                        <div class="full-recipe-header-dc">AUTHOR:</div>
                        <div class="full-recipe-header-dc-content">{{ user.name }}</div>
                    </div>
                </div>
                <div class="float-end">                        
                    <div class="full-recipe-header-dc-1">
                        <div class="full-recipe-header-dc">Difficulty:</div><div class="full-recipe-header-dc-content">{{ recipe.level }} </div>
                    </div>
                    <div class="full-recipe-header-dc-1">
                        <div class="full-recipe-header-dc">Category: </div><div class="full-recipe-header-dc-content">{{ recipe.recipe_cagetory }}</div>
                    </div>
                </div>                   
                {% endif %}
            {% endfor %}           
        </div>
        <div class="full-recipe-description">
            {{ recipe.description }} 
        </div>
        <img src="{{ recipe.recipe_picture }}" alt="Photo of the final dish" class="img-fluid full-recipe-img"><br>
        
        <div class="full-recipe-header mt-5 clearfix">
            <div>
                <div class="float-start mx-2">
                    <i class="fas fa-utensils fa-3x"></i>
                </div>
                <div class="float-start">
                    <div class="full-recipe-header-dc">YIELDS:</div>
                    <div class="full-recipe-header-dc-content">{{ recipe.servings }} Servings</div>
                </div>          
            </div>
            <div class="float-end">
                <div class="full-recipe-header-dc-1 clock">                    
                    <div class="full-recipe-header-dc">Preparation Time:</div><div class="full-recipe-header-dc-content">{{ recipe.preptime }} mins</div>
                </div>
                <div class="full-recipe-header-dc-1">
                    <div class="full-recipe-header-dc">Cooking Time: </div><div class="full-recipe-header-dc-content">{{ recipe.cooktime }} mins</div>
                </div>
            </div>
        </div>
        
        <div class="recipe-ingredients">
            <h4 class="pb-4 subtitle">Main Ingredients:</h4>
            {% for x in recipe.ingredients %}
                <ul><li class="recipe-text checkbox">{{ x }}</li></ul>    
            {% endfor %}
        </div>
        
        <div class="mt-3 recipe-methods">
            <h4 class="pt-4 pb-4 subtitle">Method:</h4>
            <div class="numbered-list">
                {% for step in recipe.recipe_method %}
                    <div class="numbered-list-step">{{ step }}</div>
                {% endfor %}
            </div>
        </div>

        <div>
            <h4 class="mt-4 mb-4 subtitle-bold">Comments:</h4>
            {% if comments %}
                {% for comment in comments %}                    
                    {% for user in users %}
                        {% if comment.created_by_username == user.username%}
                            <div>
                                <img src="{{ user.profile_picture }}" alt="Avatar for Commenter" class="card-profile-picture-lg rounded-circle float-start">                        
                        {% endif %}
                {% endfor %}
                                <div class="comment-container">
                                    <div>
                                        <div><strong>Name: </strong> {{ comment.created_by_name }}</div>
                                        <div><strong>Date: </strong>{{ comment.date }}</div>
                                        <div><strong>Comment: </strong>{{ comment.comment }}</div>
                                    </div>
                                </div>  
                            </div>   
            </div>              
            
                {% endfor %} 
            {% else %}  
                <p>No comments received for this recipe yet.</p>
            {% endif %}       
        </div>
        
        <h4 class="mt-4 mb-4 subtitle-bold">Leave a Comment:</h4>
        {% if session.user %}
        <div>
            <form action="{{ url_for('recipe', recipe_id=recipe._id ) }}" method="POST">
                <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                <div class="comment-button"><button type="submit" class="button green-button-thick mt-2">Post Comment</button></div>
            </form>
        </div>
        {% else %}            
        <div class="yellow-box">
            <p><i class="fas fa-lock"></i> You need to <a href="{{ url_for('login')}}" class="yellow-box-link">Log In</a> to leave a comment.</p>
            <p>Don't have an account yet? <a href="{{ url_for('register')}}" class="yellow-box-link">Click here to register.</a></p>
        </div>
        {% endif %}

    </section>    
        
    <div class="text-center">
        <a href="{{ url_for('get_recipes') }}" class="button orange-button mb-5">Go Back</a>
    </div>

{% endblock %}