{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}   

    <section class="container-xl" style="max-width: 800px;">
        <h4 class="pt-4 pb-4 text-center">{{ recipe.recipe_name }}</h4>
        {% if recipe.favorited_by %}
            {% if session.user in recipe.favorited_by %}
                <a href="{{ url_for('remove_favorite', recipe_id=recipe._id ) }}" class="btn btn-primary">Remove Favorite</a>
            {% else %}
                <a href="{{ url_for('add_favorite', recipe_id=recipe._id ) }}" class="btn btn-primary">Add to Favorite</a>
            {% endif %}
        {% else %}
            <a href="{{ url_for('add_favorite', recipe_id=recipe._id ) }}" class="btn btn-primary">Add to Favorite</a>
        {% endif %}
        <div class="full-recipe-header clearfix">
            {% for user in users %}
                {% if user.username|lower == recipe.uploaded_by %}
                <div>
                    <div class="float-start">
                        <img src="{{ user.profile_picture }}" alt="Author's profile picture" class="card-profile-picture-large rounded-circle">
                    </div>
                    <div class="float-start">
                        <div class="full-recipe-header-dc">AUTHOR:</div>
                        <div class="full-recipe-header-dc-content">{{ user.name }}</div>
                    </div>
                </div>
                <div class="float-end">                        
                    <div class="full-recipe-header-dc-1">
                        <div class="full-recipe-header-dc">Difficulty:</div><div class="full-recipe-header-dc-content">{{ recipe.level }} </div>
                    </div>
                    <div class="full-recipe-header-dc-1">
                        <div class="full-recipe-header-dc">Category: </div><div class="full-recipe-header-dc-content">{{ recipe.recipe_cagetory }}</div>
                    </div>
                </div>                   
                {% endif %}
            {% endfor %}           
        </div>
        <section class="full-recipe-description">
            {{ recipe.description }} 
        </section>
        <img src="{{ recipe.recipe_picture }}" alt="Photo of the final dish" class="img-fluid full-recipe-img"><br>
        
        <div class="full-recipe-header mt-5">
            <div class="left">
                <div class="full-recipe-author-avatar">
                    <i class="fas fa-utensils fa-3x"></i>
                </div>
                <div class="full-recipe-author-info">
                    <div>YIELDS:</div>
                    <div>{{ recipe.servings }} Servings</div>
                </div>          
            </div>
            <div class="right">
                <span class="full-recipe-header-dc">Preparation Time: <br>{{ recipe.preptime }} mins </span>
                <span class="full-recipe-header-dc">Cooking Time: <br> {{ recipe.cooktime }} mins</span>
            </div>
        </div>
        
        <h4 class="pb-4">Main Ingredients:</h4>
        {% for x in recipe.ingredients %}
            <ul><li class="recipe-text checkbox">{{ x }}</li></ul>    
        {% endfor %}

        <h4 class="pt-4 pb-4">Method:</h4>
        <div class="numbered-list">
            {% for step in recipe.recipe_method %}
                <div class="numbered-list-step">{{ step }}</div>
            {% endfor %}
        </div>

        <div class="review">
            <h4 class="mt-4 mb-4">Comments:</h4>
            {% for comment in comments %}
            <div class="comment-container">
                <div><strong>Name: </strong> {{ comment.created_by_name }}</div>
                <div><strong>Date: </strong>{{ comment.date }}</div>
                <div><strong>Comment: </strong>{{ comment.comment }}</div>
            </div> 
            {% endfor %}
        </div>
        
        {% if session.user %}
        <div class="review">
            <form action="{{ url_for('recipe', recipe_id=recipe._id ) }}" method="POST">
                <h4 class="mt-4 mb-4">Leave a comment:</h4>
                <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                <div class="comment-button"><button type="submit" class="btn btn-info mt-2">Send Comment</button></div>
            </form>
        </div>
        {% endif %}

    </section>

    
        
    <div class="text-center">
        <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
    </div>

{% endblock %}