{% extends "base.html" %}
{% block content %}

{% include "navigation.html" %}
<section class="upload-recipe-container mx1200">

    <div class="text-center mt-3 pt-3 mb-5">
        <h2>Upload Recipe</h2>
    </div>       

    <section class="form-container">
        <form method="POST" action="{{ url_for('upload_recipe') }}">
            <!-- Recipe name -->
            <div class="mb-3">
                <label for="recipename" class="form-label h5">Recipe Name</label>
                <div>
                    <input type="text" name="recipename" class="form-control" id="recipename" maxlength="40" required>
                </div>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label h5">Description</label>
                <div>
                    <input type="text" name="description" class="form-control" id="description" maxlength="180" required>   
                    <small>*Maximum 180 characters</small>             
                </div>
            </div>
            <!-- Recipe category -->
            <div class="mt-3 mb-3">
                <label for="recipe-category" class="form-label h5">Choose a category:</label>
                <br>
                <select name="recipe-category" id="recipe-category" class="form-select-sm">
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>                    
                    {% endfor %}
                </select>
            </div>            
            <!-- Level -->
            <div class="pb-3">
                <h5>Level</h5>
                <input type="radio" id="easy-level" name="level" value="Easy" class="form-check-input">
                <label for="easy-level">Easy</label><br>
                <input type="radio" id="medium-level" name="level" value="Medium" class="form-check-input">
                <label for="medium-level">Medium</label><br>
                <input type="radio" id="complex-level" name="level" value="Complex" class="form-check-input">
                <label for="complex-level">Complex</label>
            </div>
             
            <!-- Servings -->
            <div class="mb-3">
                <label for="servings" class="form-label h5">Servings</label>
                <div>
                    <input type="number" name="servings" class="form-control" id="servings" min="1" max="100">                
                </div>
            </div>    

            <!-- Vegetarian -->            
            <input type="checkbox" id="vegetarian" class="form-check-input" name="vegetarian" value="vegetarian">
            <label for="vegetarian">Vegetarian</label><br><br>

            <!-- Preparation Time -->
            <div class="mb-3">
                <label for="preptime" class="form-label h5">Preparation time (minutes)</label>
                <div>
                    <input type="number" name="preptime" class="form-control" id="preptime" min="1" max="300">                
                </div>
            </div>  
            
            <!-- Cooking Time -->
            <div class="mb-3">
                <label for="cooktime" class="form-label h5">Cooking time (minutes)</label>
                 <div class="col-sm-10 h5"></div>
                    <input type="number" name="cooktime" class="form-control" id="cooktime" min="1" max="300">                
                </div>
            </div>   

            <!-- Ingredients -->
            <div id="ingredientInputContainer" class="mb-3">
                <h5>Ingredients:</h5>
                <input type="text" name="ingredients" class="form-control mt-3" required>
                <input type="text" name="ingredients" class="form-control mt-3" disabled>                
            </div>   
            <a href="#" onclick="addIngredientField()" class="btn btn-primary mb-3">Add New</a>
            <a href="#" onclick="removeIngredientField()" class="btn btn-danger mb-3">Remove</a> 

            <!-- Recipe Method -->
            <div id="methodInputContainer" class="mb-3">
                <h5>Recipe Method:</h5>
                <input type="text" name="method" class="form-control mt-3" required>
                <input type="text" name="method" class="form-control mt-3" disabled>               
            </div>   
            <a href="#" onclick="addMethodField()" class="btn btn-primary mb-3">Add New</a>
            <a href="#" onclick="removeMethodField()" class="btn btn-danger mb-3">Remove</a> 

            <!-- Image URL -->
            <div class="mb-3">
                <label for="recipe_picture" class="form-label h5">Recipe picture URL</label>
                <input type="text" name="recipe_picture" class="form-control" id="recipe_picture">
            </div>       

            <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </form>
    </section>
        
</section>

{% endblock %}